.grid {
  display: grid;
}

.gridRow {
  display: grid;
  grid-auto-flow: column;
}

.gridCell {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: solid 1px black;
  cursor: pointer;
  background-color: #fff;
  transition: 0.2s ease-out;
}

.gridCellActive {
  background-color: #0091ff;
}
